@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:Extra-Light');
@import url('https://fonts.googleapis.com/css?family=Quicksand:Regular');
/*HTML Tag Styling*/
h2 {
	color: white;
	margin-left: 40px;
	font-family: 'montserrat-light';
	font-size: 60pt;
	padding-top: 50px;
}
h3{
	height: 100%;
	color: white;
	text-align: center;
	justify-content: center;
	font-family: 'Quicksand';
	font-size: 50pt;
	padding-top: 30px;
	padding-bottom: 100px;
	padding-left: 75px;
	padding-right: 50px;
}
h4{
	font-family: "montserrat-regular", sans-serif;
	font-size: 30pt;
	text-align: center;
}
h5{
	font-family: "montserrat-regular", sans-serif;
}
.a-scene {
	height:500px;
	width: 100%;
}
div.centered {
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
/*ID Styling*/
#demo{
	background: linear-gradient(to bottom, #073763ff, #99D3DF);
}
#team {
	background: linear-gradient(to bottom, #99D3DF, #ffffff);

}
#slogan {
	position: absolute;
}
#slogan-page {
	display: flex; height: 100%; background: #99D3DF;
}
#product-block {
	position: relative;
}
#solutions {
	background-color: white;
}
#beaconbutton {
	height: 80px;
	width: 80px;
	min-width: initial;
	background-color: white;
	opacity: 1;
}
#beaconimage {
	color: black;
}
/*Class Styling*/
.container{
	border: 1px;
}
.productbutton{
	background-color: transparent;
	color: white;
	border: 2px solid #ffffff;
	justify-content: center;
	text-align: center;
	padding-bottom: 30pt;
}
.col-twelve {
	justify-content: center;
}

.mdl-layout__title {
	font-family: 'Quicksand';
	font-size: 30pt;
	color: white;
}
.mdl-layout__content {
	display:flex; align-items:center; justify-content:center;
}
.mdl-grid {
	display:flex; align-items:center; justify-content:center;
}
.mdl-card__media {
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mdl-card__title-text {
	font-family: 'Quicksand';
}
.mdl-card__supporting-text {
	font-family: 'Quicksand';
}
.mdl-button--icon, .material-icons {
	color: white;
}
.mdl-mini-footer {
	background-color: white;
	display: block;
	bottom: 0;
	width: 100%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}
.mdl-navigation__link {
	font-family: 'Quicksand';
}
.mdl-layout__header {
	opacity: 0.9;
	color: black;
}
.mdl-logo {
	color: #999999ff;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #6fa8dcff;
}

.mdl-card__media:hover .overlay {
	opacity: 0.7;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.mdl-cell, .mdl-card, .portfolio-card {
	width: 338px;
}
.mdl-mini-footer__link-list {
	justify-content: right;
}

.contact-container{
	background:white;
}

.button-productbutton{
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}